@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: rgba(40, 54, 82);
    color: white;
}

.yellow {
    color: #E7B727;
}

.top-section {
    height: 100vh;
    background-color: #1C2B4A;
    position: relative;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.top-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.05),
            transparent);

    transform: translateX(-100%);
    animation: scan 10s linear infinite;

    pointer-events: none;
}

@keyframes scan {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@media (max-width: 1245px) {
    .top-section {
        height: fit-content;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF NAV STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

header {
    position: fixed;
    top: 1px;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

header a {
    color: white;
    text-decoration: none;
}

header.scrolled {
    background: red;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    z-index: 100;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #E7B727;
}

.nav-links li a i {
    display: none;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title h1 {
    font-size: 36px;
}

.header-title h1 span {
    color: #E7B727;
}

.header-title p {
    text-align: center;
    font-size: 20px;
}

.header-tag {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}

.hamburger1 {
    display: none;
}

.hamburger1 label {
    width: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#hamburger1-input {
    display: none;
}

.hamburger1 .line {
    height: 5px;
    margin: 5px 0;
    border-radius: 6px;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.hamburger1 .line1 {
    width: 40%;
}

.hamburger1 .line2 {
    width: 80%;
}

.hamburger1 .line3 {
    width: 60%;
}

#hamburger1-input:checked~.line1 {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
}

#hamburger1-input:checked~.line2 {
    transform-origin: top;
    transform: rotatez(-45deg);
}

#hamburger1-input:checked~.line3 {
    width: 40%;
    transform-origin: bottom;
    transform: translate(20px, -10px) rotatez(45deg);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!NAV MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1237px) {
    .header-title h1 {
        font-size: 30px;
    }

    .header-title p {
        font-size: 15px;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links li a {
        font-size: 20px;
    }

    nav {
        padding: 30px 20px;
        padding-bottom: 10px;
    }
}

@media (max-width: 971px) {
    .header-title h1 {
        font-size: 25px;
    }

    .header-title p {
        font-size: 12px;
    }

    .nav-links li a {
        font-size: 17px;
    }
}

@media (max-width: 832px) {
    .header-title h1 {
        font-size: 23px;
    }

    .header-title p {
        font-size: 10px;
    }

    .nav-links li a {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .hamburger1 {
        display: block;
    }

    nav {
        padding: 20px 20px;
        align-items: center;
        z-index: 100;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: -100%;
        width: 250px;
        margin-top: 5px;
        height: calc(100vh - 70px);
        padding-top: 20px;
        transition: right 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        gap: 20px;
        background-color: #283652;
        z-index: 1000;
    }

    .nav-links li {
        border-bottom: 1px solid #fff;
        width: 100%;
        padding-bottom: 5px;
    }

    .nav-links li a {
        color: #fff;
        font-size: 20px;
        padding: 15px 20px;
    }

    .nav-links li a i {
        display: inline;
        padding-right: 10px;
    }

    .nav-links.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 500px) {
    .header-title h1 {
        font-size: 20px;
    }

    .header-title p {
        font-size: 10px;
    }

    .nav-links li a {
        font-size: 15px;
    }

    nav {
        padding: 15px 10px;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF NAV STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF HERO STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.hero-content {
    display: flex;
    padding: 180px 30px;
    margin: auto 0;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: radial-gradient(circle at center, rgb(231, 183, 39, 0.5) 0% 20%, rgb(76, 76, 66, 0.2), rgb(28, 43, 74, 0.2));
}


.hero-text h1 {
    font-size: 60px;
}

.hero-text p {
    font-size: 25px;
}

.hero-text-span {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    text-shadow: 2px 2px 5px #fff;
    transition: all 0.5s ease-in-out;
    animation: text11-animation 0.9s ease-in-out infinite alternate;
}

@keyframes text11-animation {
    0% {
        opacity: 0.7;
        text-shadow: 2px 2px 1px #fff;
    }

    100% {
        opacity: 1;
        text-shadow: 2px 2px 5px #fff;
    }
}

.hero-text button {
    padding: 15px 19px;
    border-radius: 12px;
    font-size: 17px;
}

.hero-text button a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.btn-div {
    display: flex;
    gap: 20px;
}

.credibility-anchor {
    display: flex;
    gap: 30px;
}

.anchor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.anchor-icon {
    background-color: #584304;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7B727;
}

.anchor-icon i {
    font-size: 30px;
}

.anchor-text {
    display: flex;
    flex-direction: column;
}

.anchor-text p:first-child {
    font-size: 25px;
    font-weight: bold;
}

.anchor-text p:nth-child(2) {
    font-size: 16px;
    opacity: 25%;
}

.hero-image {
    background-image: url(./a8b5077eaacd76e1f2de2d951155e112\ \(1\)\ 1.png);
    width: 45%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-tags {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 260px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.tags-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.tags-icon {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7B727;
}

.image-tags p {
    font-size: 16px;
    font-weight: bold;
}

.image-tags i {
    font-size: 24px;
}

.tag-one {
    position: relative;
    left: 60%;
    top: 10px;
}

.tag-two {
    position: relative;
    left: 30%;
}

.tag-three {
    position: relative;
    left: 10%;
}

.process-strip {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 100%;
}

.step {
    opacity: 0.5;
    animation: stepGlow 4s infinite;
}

.step:nth-child(1) {
    animation-delay: 0s;
}

.step:nth-child(3) {
    animation-delay: 1s;
}

.step:nth-child(5) {
    animation-delay: 2s;
}

.step:nth-child(7) {
    animation-delay: 3s;
}

@keyframes stepGlow {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.3;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!HERO MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1451px) {
    .tag-one {
        left: 300px;
    }
}

@media (max-width: 1245px) {
    .hero-text h1 {
        font-size: 45px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .hero-text button a {
        font-size: 12px;
        font-weight: bold;
        margin-right: 7px;
    }

    .hero-text button {
        padding: 10px 14px;
        border-radius: 10px;
    }

    .credibility-anchor {
        gap: 10px;
    }

    .anchor-icon {
        width: 42px;
        height: 42px;
    }

    .anchor-icon i {
        font-size: 20px;
    }

    .anchor-text p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .anchor-text p:nth-child(2) {
        font-size: 12px;
        opacity: 25%;
    }

    .hero-image {
        height: 400px;
    }

    .image-tags {
        width: 200px;
        height: 50px;
        gap: 10px;
        margin-top: 10px;
    }

    .tags-icon {
        width: 40px;
        height: 40px;
    }

    .image-tags {
        width: 200px;
        height: 50px;
        gap: 10px;
        margin-top: 10px;
    }

    .tags-icon {
        width: 40px;
        height: 40px;
    }

    .image-tags p {
        font-size: 13px;
    }

    .image-tags i {
        font-size: 20px;
    }

    .process-strip {
        height: 50px;
        gap: 10px;
        padding-left: 15px;
        position: relative;
        top: 27px;
    }

    .process-strip p {
        font-size: 13px;
    }

    .process-strip i {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {

    .hero-text h1 {
        font-size: 38px;
    }

    .hero-text p {
        font-size: 15px;
    }

    .hero-text {
        gap: 30px;
    }

    .tag-one {
        position: relative;
        left: 60%;
        top: 10px;
    }

    .tag-two {
        position: relative;
        left: 30%;
    }

    .tag-three {
        position: relative;
        left: 10%;
    }
}

@media (max-width: 1000px) {
    .anchor-icon {
        width: 30px;
        height: 30px;
    }

    .anchor-icon i {
        font-size: 15px;
    }

    .anchor-text p:first-child {
        font-size: 17px;
        font-weight: bold;
    }

    .anchor-text p:nth-child(2) {
        font-size: 10px;
        opacity: 25%;
    }

    .process-strip {
        height: 40px;
        top: 0px;
    }

    .image-tags {
        width: 180px;
        height: 40px;
        gap: 10px;
        margin-top: 10px;
    }

    .tags-icon {
        width: 30px;
        height: 30px;
    }

    .image-tags p {
        font-size: 12px;
    }

    .image-tags i {
        font-size: 17px;
    }
}

@media (max-width: 900px) {
    .tag-one {
        left: 55%;
    }

    .tag-two {
        left: 30%;
    }

    .tag-three {
        left: 10%;
    }
}

@media (max-width: 800px) {

    .hero-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }

    .tag-one {
        position: relative;
        left: 45%;
        top: 10px;
    }

    .tag-two {
        position: relative;
        left: 25%;
    }

    .tag-three {
        position: relative;
        left: 10%;
    }

}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        padding-top: 130px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-image {
        width: 100%;
        height: 400px;
        margin-top: 30px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 17px;
    }

    .hero-text button {
        padding: 15px 19px;
        border-radius: 12px;
        font-size: 17px;
    }

    .hero-text button a {
        text-decoration: none;
        color: white;
        margin-right: 15px;
    }

    .btn-div {
        display: flex;
        gap: 20px;
    }

    .credibility-anchor {
        gap: 15px;
    }

    .anchor {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .anchor-icon {
        width: 42px;
        height: 42px;
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E7B727;
    }

    .anchor-icon i {
        font-size: 20px;
    }

    .anchor-text {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .anchor-text p:first-child {
        font-size: 20px;
        font-weight: bold;
    }

    .anchor-text p:nth-child(2) {
        font-size: 12px;
        opacity: 25%;
    }

    .image-tags {
        gap: 15px;
        margin-top: 20px;
        height: 45px;
        width: 220px;
    }

    .tags-text {
        gap: 1px;
    }

    .tags-icon {
        width: 35px;
        height: 35px;
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E7B727;
    }

    .image-tags p {
        font-size: 13px;
        font-weight: bold;
    }

    .image-tags i {
        font-size: 20px;
    }

    .process-strip {
        height: 45px;
    }

    .tag-one {
        left: 60%;
    }

    .tag-two {
        position: relative;
        left: 30%;
    }

    .tag-three {
        left: 10%;
    }

}


@media (max-width: 600px) {
    .anchor-icon {
        width: 30px;
        height: 30px;
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E7B727;
    }

    .anchor-icon i {
        font-size: 15px;
    }

    .anchor-text {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .anchor-text p:first-child {
        font-size: 17px;
        font-weight: bold;
    }

    .anchor-text p:nth-child(2) {
        font-size: 12px;
        opacity: 25%;
    }

    .tag-one {
        left: 45%;
    }

    .tag-two {
        position: relative;
        left: 25%;
    }

    .tag-three {
        left: 10%;
    }
}

@media (max-width: 600px) {

    .hero-content {
        padding-top: 95px;
        padding-bottom: 35px;
    }

}

@media (max-width: 471px) {
    .anchor-text p:nth-child(2) {
        font-size: 10px;
    }
}

@media (max-width: 426px) {

    .hero-content {
        flex-direction: column;
    }


    .credibility-anchor {
        gap: 0;
        padding: 0;
    }

    .btn-div {
        gap: 10px;
    }

    .hero-text button a {
        margin-right: 7px;
    }

    .anchor-text p:nth-child(2) {
        font-size: 11px;
    }


    .hero-text button {
        padding: 14px 15px;
    }

    .tag-one {
        left: 40%;
    }

    .tag-two {
        position: relative;
        left: 22%;
    }

    .tag-three {
        left: 7%;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF HERO STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ABOUT SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.about {
    background-color: #f2f2f2;
    color: #1C2B4A;
    padding: 40px 30px;
}

.about-title {
    text-align: center;
    font-size: 48px;
}

.about hr {
    width: 100px;
    border: 2px solid #E7B727;
    margin: 5px auto 50px auto;
}

.about-content {
    display: flex;
    /* padding-top: 40px; */
    justify-content: space-evenly;
}

.about-text {
    width: 40%;
}

.about-text p:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
}

.about-text p:nth-child(2) {
    font-size: 24px;
    margin-top: 30px;
    line-height: 1.3;
}

.about-image {
    width: 45%;
}

.about-image img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: contain;
    /* object-fit: fill; */
}

.skill-title {
    font-size: 40px;
    text-align: left;
}

.skills {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 30px;
}

.skills-section {
    width: 90%;
    margin: 70px auto 0 auto;
}

.skill {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.skill-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.skill-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #EFD78F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2B4A;
}

.skill-header p {
    font-size: 20px;
    font-weight: bold;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ABOUT SECTION MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1100px) {
    .about {
        padding-left: 5px;
        padding-right: 5px;
    }

    .about-text p:nth-child(1) {
        font-size: 32px;
    }

    .about-text p:nth-child(2) {
        font-size: 22px;
    }

    .about-image {
        width: 50%;
    }

    .about-image img {
        height: 500px;
    }
}

@media (max-width: 1100px) {
    .about-text p:nth-child(1) {
        font-size: 30px;
    }

    .about-text p:nth-child(2) {
        font-size: 18px;
    }

    .about-image img {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .about-text p:nth-child(1) {
        font-size: 34px;
    }

    .about-text {
        width: 90%;
    }

    .about-image {
        width: 90%;
    }

    .about-image img {
        height: auto;
    }

    .skills {
        flex-direction: column;
    }

    .skill {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .about-content {
        padding-top: 10px;
    }

    .about-text p:nth-child(1) {
        font-size: 30px;
    }

    .about-title {
        font-size: 35px;
    }
}

@media (max-width: 425px) {
    .about-text p:nth-child(1) {
        font-size: 28px;
    }

    .about-text p:nth-child(2) {
        font-size: 16px;
    }

    .skill-title {
        font-size: 28px;
    }

    .skills-section {
        width: 95%;
    }

    .about-text {
        width: 95%;
    }

    .about-image {
        width: 95%;
    }
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF ABOUT SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF RESUME SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.resume {
    background-color: #f2f2f2;
    color: #1C2B4A;
    padding: 40px 30px;
    padding-bottom: 50px;
}

.resume hr {
    width: 100px;
    border: 2px solid #E7B727;
    margin: 5px auto 50px auto;
}

.resume-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.first-container {
    width: 30%;
    background-color: white;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 100px;
}

.first-container-name {
    font-size: 28px;
}

.avi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avi-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #E7B727;
}

.avi-image img {
    width: 100%;
}

.personal-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.personal-info-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.personal-info-header p {
    font-size: 18px;
    font-weight: bold;
}

.resume-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.resume-skills-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.resume-skills-header p {
    font-size: 18px;
    font-weight: bold;
}

.resume-skill {
    margin-bottom: 14px;
}

.resume-skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.resume-skill-info p {
    font-size: 14px;
}

.bar {
    background: #eee;
    border-radius: 20px;
    height: 8px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #E7B727;
    border-radius: 20px;
    animation: load 1.2s ease-in-out forwards;

}

@keyframes load {
    from {
        width: 0;
    }
}


.button17 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    height: 60px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border: none;
    box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5),
        10px 10px 23px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: transparent;
    background: linear-gradient(0deg, #0c0c0c 0%, rgb(34, 34, 34) 100%);
}

.button17:before {
    height: 0%;
    width: 2px;
}

.button17:hover {
    box-shadow: 5px 5px 7px 0 rgba(255, 255, 255, 0.5),
        -5px -5px 7px 0 rgba(116, 125, 136, 0.5),
        inset -5px -5px 7px 0 rgba(255, 255, 255, 0.2),
        inset 5px 5px 7px 0 rgba(0, 0, 0, 0.4);
}

.second-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-history {
    padding: 30px;
    background-color: white;

}

.work-history p {
    font-size: 27px;
    font-weight: bold;
}

.work-history i {
    color: #E7B727;
    margin-right: 10px;
    font-size: 30px;
}

.work-history-details {
    padding-left: 40px;
    border-left: 2px solid rgba(40, 54, 82, 0.5);
    margin-top: 30px;
}

.work-history-detail {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 25px;
}

.work-history-detail h3 {
    font-size: 22px;
}

.work-history-detail p {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.work-history-detail ul {
    margin-left: 20px;
    margin-bottom: 15px;
    list-style-type: square;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF RESUME MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
    }

    .first-container {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        padding: 25px 30px;
        position: relative;
        top: 0;
    }

    .second-container {
        width: 90%;
        margin: auto;
    }

    .resume {
        padding: 40px 15px;
    }

}

@media (max-width: 900px) {
    .first-container {
        padding: 25px 10px;
    }

    .personal-info-email {
        font-size: 14px;
    }

    .first-container-name {
        font-size: 23px;
    }

    .resume {
        padding: 40px 10px;
        padding-bottom: 50px;
    }

    .work-history {
        padding-left: 20px;
        padding-right: 20px;
    }

    .work-history-details {
        padding-left: 20px;
    }
}

@media (max-width: 425px) {
    .first-container {
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .second-container {
        width: 95%;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF RESUME SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF PROJECT SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.project {
    background-color: #f2f2f2;
    color: #1C2B4A;
    padding: 40px 30px;
    padding-bottom: 50px;
}

.project hr {
    width: 100px;
    border: 2px solid #E7B727;
    margin: 5px auto 50px auto;
}

.projects-container {
    display: grid;
    width: 100%;
    /* padding: 0 20px; */
    padding-top: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto; */
    gap: 20px;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.project-container {
    width: 300px;
    margin: 0 auto 0 auto;
}

.project-image {
    width: 100%;
    height: 351px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-title {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.project-buttons {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 137px;
    gap: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-buttons button {
    width: 262px;
    border-radius: 5px;
    height: 45px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    text-align: center;
    padding: 0 59px;
}

.custom-carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carousel-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 50%;
    max-width: 700px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    max-height: 70vh;
    display: none;
    border-radius: 10px;
}

.carousel-inner img.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
    z-index: 2;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 13px;
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    color: red;
    z-index: 2;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF PROJECT SECTION MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 1200px) {
    .project {
        padding: 0;
    }

    /* .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 30px;
    } */

}

@media (max-width: 950px) {

    .project {
        padding: 20px 20px;
    }

    /* .projects-container {
        grid-template-columns: 1fr 1fr;
        padding: 10px 30px;
    } */

}

@media (max-width: 675px) {
    .projects-container {
        /* grid-template-columns: 1fr; */
        margin-top: 50px;
        /* padding: 10px 20px; */
    }

    .project-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .project-container {
        width: 100%;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .project-buttons button {
        width: 90%;
        justify-content: center;
    }

    .carousel-content {
        width: 90%;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF PROJECT SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF CONTACT SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.contact {
    background-color: #f2f2f2;
    color: #1C2B4A;
    padding: 40px 30px;
    padding-bottom: 50px;
}

.contact-hr {
    width: 100px;
    border: 2px solid #E7B727;
    margin: 5px auto 10px auto;
}

.contact-text {
    text-align: center;
    font-size: 20px;
}

.contact-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 55%;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 30px 45px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form p {
    font-size: 25px;
    font-weight: bold;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-field label {
    font-size: 18px;
}

.form-field input,
.form-field textarea {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    background-color: #FEFCFC;
    font-size: 16px;
    width: 100%;
}

.form-field input {
    height: 60px;
}

textarea {
    font-family: inherit;
    height: 150px;
}


textarea::placeholder {
    font-family: inherit;
    font-size: inherit;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    height: 60px;
    background-color: #E7B727;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.social-info {
    width: 30%;
}

.email-me {
    display: flex;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 100%;
    border-radius: 7px;
    gap: 20px;
    padding: 25px 15px;

}

.email-icon {
    background-color: #E7B727;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2B4A;
}

.email-icon i {
    font-size: 27px;
}

.email-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.email-text p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.email-text p:nth-child(2) {
    font-size: 14px;
    color: #555555;
}

.email-text p:last-child {
    color: #E7B727;
    padding-top: 7px;
    font-size: 18px;
    font-weight: 500;
}

.email-text i {
    margin-left: 10px;
}

.social-media-contact {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 100%;
    border-radius: 7px;
    padding: 10px 30px;
}

.social-media-contact hr {
    width: 30%;
    border: 3px solid #E7B727;
    /* margin: 10px auto; */
    margin-top: 5px;
    margin-bottom: 5px;

}

.socials a {
    color: #E7B727;
    font-size: 30px;
    text-decoration: none;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF CONTACT SECTION MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 960px) {
    .email-me {
        gap: 10px;
        padding: 15px 7px;
    }

    .email-text i {
        margin-left: 5px;
    }
}

@media (max-width: 861px) {
    .email-text p:last-child {
        font-size: 16px;
    }

    .email-icon {
        width: 45px;
        height: 45px;
        margin-left: 7px;
    }

    .email-icon i {
        font-size: 24px;
    }
}

@media (max-width: 771px) {
    .email-me {
        gap: 7px;
        padding: 13px 7px;
    }
}

@media (max-width: 768px) {

    .contact {
        padding: 40px 15px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-form {
        width: 90%;
    }

    .social-info {
        width: 90%;
    }

    .email-me {
        gap: 15px;
        padding: 13px 25px;
        align-items: center;
    }

    .email-text {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .email-text p:last-child {
        padding-top: 0;
        font-size: 20px;
        margin-left: 60px;
    }

    .email-text p:nth-child(2) {
        padding-top: 3px;
    }

    .email-text p:first-child {
        padding: 0;
    }
}

@media (max-width: 676px) {
    .email-me {
        gap: 15px;
        padding: 13px 10px;
    }

    .email-text p:last-child {
        margin-left: 40px;
    }
}

@media (max-width: 618px) {

    .email-me {
        gap: 30px;
    }

    .email-text {
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
        align-items: flex-start;
    }

    .email-text p:last-child {
        margin-left: 0;
    }

}

@media (max-width: 500px) {
    .contact-form {
        padding: 30px 25px;
    }

    .email-me {
        gap: 10px;
        padding: 13px 10px;
    }

    .email-text {
        gap: 5px;
    }

    .email-text p:last-child {
        font-size: 18px;
    }

    .contact-text {
        font-size: 15px;
    }

    .contact-container {
        margin-top: 50px;
    }
}

@media (max-width:425px) {
    .contact-form {
        width: 95%;
    }

    .social-info {
        width: 95%;
    }

    .contact-form p {
        font-size: 20px;
    }

    .form-field label {
        font-size: 15px;
    }

    .form-field input {
        height: 40px;
    }
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF CONTACT SECTION MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF FOOTER SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}

footer hr {
    width: 100%;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.footer-text {
    width: 500px;
}

.footer-text p:first-child {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
}

.footer-text p:last-child {
    font-size: 18px;
    font-style: italic;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links p {
    font-weight: bold;
    font-size: 18px;
    color: #E7B727;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul a {
    text-decoration: none;
    color: white;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contact p:first-child {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #E7B727;
}

.footer-contact p:nth-child(2) {
    font-size: 18px;
}

.footer-contact p:nth-child(2) i {
    font-size: 20px;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-socials a {
    text-decoration: none;
    color: white;
}

.footer-socials a i {
    font-size: 24px;
}

.footer-contact button {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.copyright {
    font-style: italic;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!START OF FOOTER SECTION MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1054px) {
    footer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 906px) {
    .footer-text {
        width: 400px;
    }
}

@media (max-width: 807px) {
    .footer-contact button {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        border: none;
    }

    .footer-text {
        width: 320px;
    }
}

@media (max-width: 768px) {

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        width: 100%;
        text-align: center;
    }

    .footer-links {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .footer-links ul {
        display: flex;
        gap: 10px;
        padding-top: 6px;
    }

    .footer-contact {
        width: 100%;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: space-around;
    }

    .footer-contact p:first-child {
        padding-bottom: 0;
    }

}

@media (max-width: 667px) {

    footer {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    .footer-text p:first-child {
        font-size: 18px;
    }

    .footer-text p:last-child {
        font-size: 16px;
    }

    .footer-container {
        gap: 10px;
    }

    .footer-contact {
        flex-wrap: wrap;
        gap: 5px;
    }

    .footer-links {
        gap: 7px;
    }

    .footer-links p {
        font-size: 16px;
    }

    .footer-links ul a {
        font-size: 14px;
    }

    .footer-contact p:first-child {
        font-size: 16px;
    }

    .footer-contact p:nth-child(2) {
        font-size: 14px;
    }

    .footer-contact p:nth-child(2) i {
        font-size: 14px;
    }

    .footer-contact button {
        padding: 7px;
        font-size: 15px;
        width: 90%;
        margin-top: 10px;
    }

    .copyright {
        font-size: 14px;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END OF FOOTER SECTION STYLING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/